.card {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 7rem 1fr;
  gap: 0.5rem 1rem;
  border: var(--border);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
}

.cardDisable {
  filter: grayscale(0.7);
}

.image {
  height: 7rem;
  width: 7rem;
  object-fit: contain;
  object-position: center;
  grid-column: 1/2;
  grid-row: 1/5;
  border: var(--border);
}

.chipGroup {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  overflow: hidden;
}

.chip {
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 0.625rem;
  padding: 0.25rem 0.5rem;
  /* border: var(--border-2); */
  border-radius: 0.875rem;
  background-color: rgb(239, 238, 255);
  color: rgb(76, 66, 246);
  /* border: 1px solid rgb(76, 66, 246); */
}

.title {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.title :hover {
  color: var(--primary);
}

.price {
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.button {
  background-color: var(--background-primary);
  color: white;
  height: 1.875rem;
  width: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3125rem;
}

.buttonContainer {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.875rem;
  width: 7.5rem;
  border: 1px solid red;
  border: 1px solid rgb(228, 233, 242);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}
.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
