html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: white;
  --background-primary: rgb(2, 180, 127);
  --background-secondary: #d0b89a;
  --background-third: #262222;
  --white: white;

  --primary: rgb(2, 180, 127);
  --secondary: rgb(76, 66, 246);
  --third: black;

  --success: rgb(2, 180, 127);
  --warning: #ffcc00;
  --error: #ff3333;
  --contrast: white;
  --disable: rgb(250, 250, 250);
  --font: rgb(17, 17, 17);

  --margin-container: 1rem;

  --box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  --border: 1px solid rgb(228, 233, 242);
  --border-2: 1px solid rgb(136, 136, 136);

  --query-xs: "300px";
  --query-sm: "390px";
  --query-md: "765px";
  --query-lg: "1020px";
}

@media (min-width: 360) {
  :root {
    --margin-container: 2rem;
  }
}

@media (min-width: 765px) {
  :root {
    --margin-container: 3rem;
  }
}

@media (min-width: 1020px) {
  :root {
    --margin-container: 10%;
  }
}
